<ion-view view-title="Kamera">
    <ion-content class="padding">
        <span ng-click="takePictureCamera()"
              class="button icon ion-ios7-camera">&nbsp;getPicture
        </span>

        <!-- sem naloži sliko -->
        <div class="list card">
            <div class="item item-divider">ngCordova.camera</div>
            <div class="item item-body">
                <div >
                    <img id="myImage" src="">
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
